@font-face {
    font-family: 'trump_gothic_eastbold';
    src: url('fonts/trump_gothic_east_bold-webfont.woff2') format('woff2'),
         url('fonts/trump_gothic_east_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap');

body {
	background-color: #ffffff;
}

h1 {
	font-size: 60px;
	color: #2B2B2B;
	font-family: 'trump_gothic_eastbold', 'Work Sans', sans-serif;
}

h3	{
	font-size: 40px;
	font-family: 'trump_gothic_eastbold', 'Work Sans', sans-serif;
	font-weight: 300;
	color: #2B2B2B;
}

h4	{
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	color: #2B2B2B;
}

p {
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	color: #2B2B2B;
}

.buttontext {
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
	color: #FBEFAB;
}

#slogan	{
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
}


