body {

}

h1 {
	font-size: 30px;
	font-family: 'trump_gothic_eastbold', Helvetica, Arial, sans-serif;
}

h3	{
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

h4

p {
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
}

footer

img

#slogan


@font-face {
    font-family: 'trump_gothic_eastbold';
    src: url('../fonts/trump_gothic_east_bold-webfont.woff2') format('woff2'),
         url('../fonts/trump_gothic_east_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}