body {

}

h1 {
	font-size: 30px;
	font-family: trump_gothic_eastbold, Helvetica, Arial, sans-serif;
}

h3

h4

p{
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
}

footer

img

#slogan

